:root {
  --color-1: #08ba08;
  --color-2: #09b309;
  --color-3: #333333;
  --color-4: #222222;
  --color-5: #e0e0e0;
  --color-6: #bbbbbb;
  --color-7: #555555;
  --color-8: #058405;
  --color-9: #055222;
  --color-10: #8ba590;
  --color-11: #026929;
  --color-12: #1f4d2d;
  --color-17: #000000;
  --color-18: #000000;
  --color-19: #000000;
  --color-20: #444444;
  --color-21: #000000;
  --color-23: #444444;
}